@page{
    margin: 0;
    size: A4;
}
.wrapper{
display: none;
opacity: 0;
}
.btn{
    display: none;
    opacity: 0;
}
.container{
margin: 0 !important;
width: 0 !important;
}
.agnetbord{
    border: solid;
    border-radius: 12px;
}
.logofact{
    margin-bottom: 33px !important;
    display: inherit !important;
}

.document{
padding: 0 !important;
}